doctype html
html(lang='en')
  head
    title Jade
    style
      //- we link in the CDN-css files here
      include ../public/css/bootstrap.min.css
      //- Optional theme
      include ../public/css/bootstrap-theme.min.css
      //- This is my css file
      include ../public/css/main.css
  body
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-12
          .well
            form.register-form(action='/createPost', method='post')
              .row
                .col-xs-6.col-sm-6.col-md-6
                  label.text-center(for='post') <big>Write Your post here</big>
                  textarea#message.form-control.text(type='text', rows='7', name='post')
              .row
                .col-md-6.col-sm-6.col-xs-6.col-lg-6
                  button.btn.btn-success Post
    script
      include ../public/js/jquery.min.js
      include ../public/js/bootstrap.min.js