body, html{
    background-color:#34515E;
   font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;

}

.btn{
    background-image: none;
}

.register-form{
    font-size: 16px;
   left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.regbutton:hover{    
    color: white;
    background-color:#aa422f;
}
.regbutton:active{
    color: white;
    background-color:#aa422f;
}
.regbutton{    
    height: 50px;
    width: 200px;
    background-color:tomato !important;
    border-radius: 0px;
    font-size: 18px;
    color:white;
    border: none;
    margin-bottom: 5px;
}

.logbutton:hover{    
    color: white;
    background-color:darkolivegreen;
}
.logbutton:active{    
    color: white;
    background-color:darkolivegreen;
}
.logbutton{    
    height: 50px;
    width: 200px;
    background-color: yellowgreen !important;
    border-radius: 0px;
    font-size: 18px;
    color:white !important;
    border: none;
    margin-bottom: 5px;
}


.register-form label{
    color: aliceblue;
    
}
.register-form input{
    margin-bottom: 5px;
    width: 430px;
    height: 40px;
    border-radius: 0px;
}

.te {
    color: lime;
    margin-left: 20px;
    margin-top: 5px;
}

                                    /* Log In */

.text{
    margin-top: 5px;
    margin-left: 10px !important;
    color: tomato;
}

a {
    color: white !important;